.registro-funcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    }

.registro-funcion-form{
    box-sizing: border-box;
    padding: 60px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 600px;
    background-color: #001242;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: 300;
}

.box-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.main-contenido{
    box-sizing: border-box;
    padding: 60px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 500px;
    background-color: #001242;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

fieldset{
    border: none;
}

label{
    width: 200px;
    margin-right: 20px;
}

.input-text{
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-size: 1.7rem;
    color: #000022;
}

.registro-funcion-form-nombre{
    font-size: 1.7rem;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    position: relative;
    max-height: 50px;
}





.registro-funcion-form-fecha{
    display: flex;
    margin-bottom: 20px;
}



.registro-funcion-form-fecha input{
    font-size: 2rem;
    width: 300px;
    height: 52px;
    background-color: #005E7C;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-right: 70px;
}

.registro-funcion-form-horario{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.registro-funcion-form-horario button{
    width: 100px;
    height: 52px;
    margin: 0 40px 0 0;
    padding: 0;
    background-color: #609AAD;
    font-weight: 300;
}

.registro-funcion-form-boleto{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.registro-funcion-form-boleto input{
    width: 170px;
    height: 52px;
}

.registro-funcion-form-duracion{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.registro-funcion-form-duracion input{
    width: 170px;
    height: 52px;
    margin-right: 20px;
}

.registro-funcion-form-submit{
    display: flex;

    position: relative;
    right: -50%;
    width: 300px;
}

.registro-funcion-form-submit button{
    background-color: #420033;
    font-weight: 300;
    text-align: center;
    width: 250px;
    height: 60px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.registro-funcion-form-submit input{
    width: 250px;
    font-weight: 300;
    height: 60px;
    background-color: #262C3B;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.cancelar-funcion-contenido {
    justify-content: center;
    align-items: left;
}

.cancelar-funcion-codigo{
    width: 70%;
}

.cancelar-funcion-botones{
    position: relative;
    left: 32%;
    margin-top: 40px;
}

.cancelar-funcion-botones{
    display: flex;
    justify-content: space-between;
}

.funciones-mostrar-funciones{
    position: relative;

}

.datalist-opciones {
    position: absolute;
    top: 60px; /* Ajusta la distancia desde el input */
    left: 0;
    width: 100%;
    background-color: white; /* Fondo blanco para la lista */
    z-index: 2; /* Mantener la lista sobre otros elementos */
    border: 1px solid #ccc;
    border-radius: 10px;
    max-height: 200px; /* Limitar la altura máxima */
    overflow-y: auto; /* Hacer scroll si hay demasiadas opciones */
}

.lista-funciones{
    position: absolute;
    width: 300px;
    min-height: 0;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    
}

.input-text-nombre{
    width: 100%;
    z-index: 1; 
}

.input-funciones-registradas{
    width: 300px;
    background-color: white;
    cursor: pointer;
        
}

.pelicularRegistradas{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-mostrar-funciones{
    display: flex ;
    width: 100%;
    justify-content: space-between;
}

.funciones-registradas{
    margin-left: 200px;
    
}



.input-funciones{
    background-color: white;
    color: black;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.button-horario:focus {
    border: none !important;
    background-color:#0D3C4C !important;
}